.git
.gitignore
.github

node_modules
npm-debug.log

vendor
composer.phar

.env
.env.*
!.env.example

storage/*.key
storage/app/*
!storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php

tests
.phpunit.result.cache
.phpunit.cache

docker-compose*.yml
Dockerfile
.dockerignore

.vscode
.idea
*.md
